name: Run CI

on:
  workflow_dispatch:
  push:
    branches:
      - "main"
    tags:
      - 'v*'
  pull_request:

permissions:
  contents: read
  pull-requests: write
  checks: write
  security-events: write
  packages: write
  actions: read

jobs:
  gitctl:
    name: gitctl
    uses: ./.github/workflows/reusable-go-ci.yaml
    with:
      name: gitctl
      module: .
      ko_build_path: "main.go"
